body {
  background-color: #eee;
}

.nav {
  background: linear-gradient(145deg, #9ebb3e, #859e34);
  box-shadow: 0 5px 5px rgba($color: #000, $alpha: 0.2);
}

input,
select:not(.date-picker__month-year--dropdown),
.tableViewer table,
.input-group-text {
  box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.2);
}

input {
  margin-bottom: 10px;
}

.btn {
  border-radius: 20px;
  background: linear-gradient(145deg, #9ebb3e, #859e34);
  border: 0 none #000;
  box-shadow: 5px 5px 10px rgba($color: #000, $alpha: 0.2);
  font-size: larger;
  font-weight: bolder;
  color: #fff;
  transition: transform 0.1s;
  &:hover {
    color: #000;
    transform: scale(1.1);
  }
}

main {
  background-color: rgba($color: #666, $alpha: 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 5px rgba($color: #000, $alpha: 0.2);
}

fieldset {
  padding: 20px;
}
